@model IEnumerable<ProductListResponse>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-4">
            <partial name="_ProductCard" model="@product" />
        </div>
    }
</div>
